*/2 * * * * update_orders           # Каждые две минуты обновляет БД
0 */12 * * * update_exchange_rate   # Дважды в сутки (в 12:00 и 00:00) обновляет курс доллара
0 10 * * * check_delivery_delays    # Каждый день в 10:00 по МСК уведомляет в Telegram о задерживании поставки